<p>Vous n'avez pas des tokens suffisantes pour voir vos messages SYSK.</p>
<p>Vous avez besoin de : </p>
<ul class="content-list">
	<li><label><strong>1</strong> token pour lire un message aléatoire.</label></li>
	<li><label><strong>3</strong> tokens pour lire tous vos messages.</label></li>
</ul>
<p>Pour obtenir des tokens, déposé un message/irritant.</p>