<input type="image" src="{{ asset('bundles/syskalert/images/messageReceivedIcon.png') }}" id="inbox-button" class="receiver-button new-received" alt="Check Messages" data-url="{{ path( "sysk_alert_indexInbox" ) }}" onclick="openInbox()" />
<div class="receiver-new"><strong>SYSK reçus</strong></div>